# ignore all .txt files
*.txt
testing_jup.ipynb


# ignore all approx_input_size dirs

apprx_input_size*
experiments/results/experiment[123]/runs*

# ignore coverage report
.coverage
.coveragerc 

# ignore pycache in tests
tests/__pycache__
__pycache__